<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search with Unique Id"  name="loanId" [(ngModel)]="loanId"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findLoanRequestByaccountId()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>()
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>loanId</th>
            <th>amount</th>
            <th>tenure</th>
            <th>CreditScore</th>
            <th>roi</th>
            <th>loanType</th>
            <th>loanDisbursementStatus</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let loanrequest of loanrequests">
            <td>{{loanrequest.loanId}}</td>
            <td>{{loanrequest.amount}}</td>
            <td>{{loanrequest.tenure}}</td>
            <td>{{loanrequest.creditScore}}</td>
            <td>{{loanrequest.roi}}</td>
            <td>{{loanrequest.loanType}}</td>
            <td>{{loanrequest.loanDisbursementStatus}}</td>
            <td class="text-align"><button class="btn btn-danger btn-xs" (click)="deleteLoanRequest(loanrequest)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>


